:root {
    --font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif
}

body {
    display: flex;
    place-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    color: #ffffff;
    background-color: #f0f0f0;
    line-height: 1.6;
    font-family: var(--font-family);
    font-size: 15px;
    transition: background-color 1s;
    user-select: none;
}

body:has(#experiment-view) {
    background-color: #000000;
}

input {
    font-family: var(--font-family);
    font-size: 15px;
    color: currentColor;
    border: 1px solid currentColor;
    outline: none;
}